# Practical 1 - pivot, pivot_table, melt

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/countries.csv', decimal=",")
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

Note that there are some missing values - we'll need to keep that in mind during our analysis.  

**Exercise 1** Create a `pivot_table` which shows the `sum` of `Population` and `Area (sq. mi.)` for each `Region`.

In [3]:
?pd.DataFrame.pivot_table

In [5]:
pd.pivot_table(df, index='Region', values=['Population', 'Area (sq. mi.)'], aggfunc='sum')

                                     Area (sq. mi.)  Population
Region
ASIA (EX. NEAR EAST)                       23096712  3687982236
BALTICS                                      175015     7184974
C.W. OF IND. STATES                        22100843   280081548
EASTERN EUROPE                              1152222   119914717
LATIN AMER. & CARIB                        20544084   561824599
NEAR EAST                                   4355586   195068377
NORTHERN AFRICA                             6018890   161407133
NORTHERN AMERICA                           21782471   331672307
OCEANIA                                     8519812    33131662
SUB-SAHARAN AFRICA                         24341406   749437000
WESTERN EUROPE                              3710478   396339998

**Exercise 2** Use `melt` to create a DataFrame where all of this information is shown in three columns, called `Country`, `Metric` (containing the variable name) and `Measurement` (containing the value for that given variable for the given country). The resulting DataFrame should have 4313 rows.

In [14]:
melted = pd.melt(df, id_vars='Country', var_name='Metric', value_name='Measurment')

melted.shape

(4313, 3)

In [15]:
melted

              Country   Metric                           Measurment
0        Afghanistan    Region        ASIA (EX. NEAR EAST)
1            Albania    Region  EASTERN EUROPE
2            Algeria    Region  NORTHERN AFRICA
3     American Samoa    Region  OCEANIA
4            Andorra    Region  WESTERN EUROPE
...               ...      ...                                  ...
4308       West Bank   Service                                 0.63
4309  Western Sahara   Service                                  0.4
4310           Yemen   Service                                0.393
4311          Zambia   Service                                0.489
4312        Zimbabwe   Service                                0.579

[4313 rows x 3 columns]

In [16]:
melted['Country'].value_counts()

Country
Afghanistan     19
Rwanda          19
Nauru           19
Nepal           19
Netherlands     19
                ..
Greece          19
Greenland       19
Grenada         19
Guadeloupe      19
Zimbabwe        19
Name: count, Length: 227, dtype: int64

**Exercise 3** Create a subset of the melted DataFrame containing only data for Afghanistan, with the `Country` column removed and `Metric` as the index (using `.set_index('Metric')`).

*Hint: examine the country values if you are having trouble filtering the DataFrame.*

In [25]:
afghn = melted[melted['Country']=='Afghanistan '].copy()

afghn = afghn.drop('Country', axis=1).set_index('Metric')

afghn

                                                       Measurment
Metric
Region                              ASIA (EX. NEAR EAST)
Population                                               31056997
Area (sq. mi.)                                             647500
Pop. Density (per sq. mi.)                                   48.0
Coastline (coast/area ratio)                                  0.0
Net migration                                               23.06
Infant mortality (per 1000 births)                         163.07
GDP ($ per capita)                                          700.0
Literacy (%)                                                 36.0
Phones (per 1000)                                             3.2
Arable (%)                                                  12.13
Crops (%)                                                    0.22
Other (%)                                                   87.65
Climate                                                       1.0
Birthrate                                                    46.6
Deathrate                                                   20.34
Agriculture                                                  0.38
Industry                                                     0.24
Service                                                      0.38